$wrapper-color: #000;
$wrapper-bgc: #f4f5f7;

// =================================================
// parts-list
// =================================================
$header_color: #000;
$header-bgc: #d9f;

$abc: #333;
$header-logo-color: #000;
$header-logo-bgc: #111;

$header-list-color: #000;
$header-list-bgc: #222;

$main-color: #000;
$main-bgc: #333;

$side-bar-color: #000;
$side-bar-bgc: #1f1;

$parts-list-color: #000;
$parts-list-bgc: #f0f0f0;

$parts-list__category-color: #000;
$parts-list__category-bgc: #050;

$contents-color: #000;
$contents-bgc: #707;

$content-color: #000;
$content-bgc: #990;

$footer-color: #000;
$footer-bgc: #abc;

// =================================================
// devise
// =================================================

