$wrapper-color: #000;
$wrapper-bgc: #f4f4f4;

// =================================================
// parts-list
// =================================================
// 23374d
// 1089ff
// e5e5e5
// eeeeee
$header_color: #000;
$header-bgc: #23374d;

$header-logo-color: #fafafa;
$header-logo-bgc: #111;

$header-list-color: #fafafa;
$header-list-bgc: #222;

$main-color: #000;
$main-bgc: #333;

$side-bar-color: #000;
$side-bar-bgc: #1089ff;

$parts-list-color: #000;
$parts-list-bgc: #1089ff;

$parts-list__category-color: #fafafa;
$parts-list__category-bgc: #1081f7;

$contents-color: #000;
$contents-bgc: #f4f4f4;

$content-color: #000;
$content-bgc: #f9faff;

// $footer-color: #000;
// $footer-bgc: #abc;

// =================================================
// devise
// =================================================

