.navi {
  box-sizing: border-box;
  color: #000;
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  height: 75px;
  display: flex;
  .clearfix {
    width: 190px;
    height: 10px;
  }

  &__area {
    width: calc(100% - 190px);
    box-sizing: border-box;
    height: 55px;
    padding: 10px 10px 5px;
    line-height: 55px;
    max-width: 1280px;

    &__top {
      display: flex;
      justify-content: space-between;
      background-color: #f9faff;
      padding-right: 5px;
      margin: 0 auto;
      border-radius: 10px;
      box-shadow: 0 0 5px #ccc;
      text-align: center;
      height: 55px;

      &__name-area {
        width: 400px;
        font-weight: bold;
        display: flex;

        &__name {
          font-size: 24px;
          padding: 0 20px;
        }

        &__db-update a {
          color: blue;
        }
      }

      &__category-area {
        display: none;
        color: #fff;
        background-color: #0e75ff;
        text-align: center;
        border-radius: 30px;

        // サイドバーアイコン
        &__icon {
          line-height: 50px;
          height: 50px;
          width: 50px;
          font-size: 30px;
        }

        // @media screen and (max-width: 959px) {
        //   display: block;
        // }
      }

      &__list {
        font-size: 18px;
        display: flex;

        .list-title {
          margin-top: 5px;
        }

        select {
          font-size: 18px;
          width: 300px;
          height: 40px;
          margin-left: 10px;
          margin-bottom: 5px;
          border-radius: 0;
          background-color: #dafafa;
          cursor: pointer;
          text-indent: 5px;

          @media screen and (max-width: 559px) {
            margin-left: 0;
          }
        }
      }

      // トップページ
      &__top-name {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}
