.side-bar {
  box-sizing: border-box;
  width: 200px;
  padding-top: 10px;

  @media screen and (max-width: 959px) {
    width: 100%;
    height: auto;
  }

  &__list {
    color: $side-bar_color;
    background-color: $side-bar-bgc;
    padding: 5px;
    border-radius: 10px;
    width: 180px;
    position: absolute;
    top: 70px;
    overflow: scroll;
    max-height: calc(100% - 100px);

    @media screen and (max-width: 959px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__category {
      box-sizing: border-box;
      display: block;
      color: $parts-list__category-color;
      background-color: $parts-list__category-bgc;
      display: block;
      font-size: 16px;
      padding: 1px;
      margin-bottom: 5px;
      text-align: center;
      height: 60px;
      line-height: 60px;

      &:hover {
        border: 3px solid #40b1ff;
        background-color: #0e75ff;
      }

      @media screen and (max-width: 959px) {
        width: 220px;
        margin-right: 5px;
      }
    }
  }
}
