.wrapper
  .header
    = render "header"
  .main
    .side-bar
      .parts-list
        = link_to "#", class: "parts-list__category" do
          CPU
        = link_to "#", class: "parts-list__category" do
          マザーボード
        = link_to "#", class: "parts-list__category" do
          HDD
    .contents
      .contents-top
        .contents-top__name
          カテゴリー：CPU
        .contents-top__list
          パーツリスト：リスト1番
      .contents-main
        .content
        .content
        .content
        .content

  -# .footer
  -#   このサイトについて