.wrapper {
  box-sizing: border-box;
  background-color: $wrapper-bgc;
  height: 100vh;
  width: 100vw;

  a {
    text-decoration: none;
  }

  .header {
    color: $header_color;
    background-color: $header-bgc;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__logo {
      color: $header-logo-color;
      // background-color: $header-logo-bgc;
      padding: 0 10px;
      display: flex;

      &__icon {
        width: 60px;
        height: 60px;
        padding-right: 10px;
      }

      &__title-logo {
        width: 300px;
        height: 50px;
        padding: 5px 0;
      }

      // &__title {
      //   line-height: 60px;
      //   font-size: 40px;
      // }
    }
    &__lists {
      // background-color: $header-logo-bgc;
      display: flex;
      line-height: 60px;
      font-size: 20px;

      &__list {
        color: $header-list-color;
        padding: 0 10px;
        margin: 0 20px;
        width: 100px;
      }
      .user_name {
        width: 160px;
        text-align: center;
      }
    }
  }

  .notifications {
    color: white;
    text-align: center;
    z-index: 10;
    float: center;

    .notice {
      height: 60px;
      line-height: 60px;
      font-size: 36px;
      background-color: #3456f7;
      text-align: center;
    }

    .alert {
      height: 60px;
      line-height: 60px;
      font-size: 36px;
      background-color: #ef1a1f;
    }
  }

  .main {
    color: $main_color;
    background-color: $main-bgc;
    height: calc(100% - 60px);
    display: flex;
    width: 100%;
    // overflow: scroll;

    @media screen and (max-width:1024px) {
      display: block;
    }

    .contents {
      box-sizing: border-box;
      color: $contents_color;
      background-color: $contents-bgc;
      width: 100%;
      height: 100%;
      padding: 0 20px;
      overflow: scroll;

      &__top {
        display: flex;
        justify-content: space-between;
        height: 50px;
        padding: 10px;
        line-height: 50px;

        &__name-area {
          width: 400px;
          font-weight: bold;
          display: flex;

          &__name {
            font-size: 32px;
            padding: 0 20px;
            // background-color: #0e75ff;
            // color: #fff;
          }
        }

        &__category-area {
          display: none;
          color: #fff;
          background-color: #0e75ff;
          text-align: center;
          border-radius: 30px;

          &__icon {
            line-height: 50px;
            height: 50px;
            width: 50px;
            font-size: 30px;
          }

          @media screen and (max-width:1024px) {
            display: block;
          }
        }

        &__db-update {
          font-size: 20px;
        }


        &__list {
          font-size: 20px;
          display: flex;

          .list-title {
            margin-top: 5px;
          }
        }

        &__top-name {
          font-size: 32px;
          font-weight: bold;
        }
  
      }

      select {
        font-size: 20px;
        width: 300px;
        height: 50px;
        margin-left: 10px;
        margin-bottom: 5px;
        border-radius: 0;
        background-color: #dafafa;
        cursor: pointer;
        text-indent: 5px;
      }

      .contents-main {
        height: calc(100vh - 140px);
        overflow: scroll;
      }

      .partslists {
        &__controller {
          height: 80px;

          &__box {
            display: flex;
            justify-content: space-between;

            &__btn {
              display: block;
              color: #1436f7;
              background: #b0cef5;
              height: 50px;
              line-height: 50px;
              width: 250px;
              text-align: center;
              margin: 10px auto 0;
              font-size: 24px;
              font-weight: bold;
              border-radius: 4px;
              border: solid 2px #8ebfff;
              box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4),
                inset 0 -2px 0 rgba(0, 0, 0, 0.15);
              cursor: pointer;
            }
          }
        }

        &__show {
          height: 80px;
          padding: 20px 20px 0 20px;

          &__box {
            display: flex;
            justify-content: space-between;

            &__btn {
              display: block;
              color: #1436f7;
              background: #b0cef5;
              height: 50px;
              line-height: 50px;
              width: 250px;
              text-align: center;
              margin: 10px auto 0;
              font-size: 24px;
              font-weight: bold;
              border-radius: 4px;
              border: solid 2px #8ebfff;
              box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4),
                inset 0 -2px 0 rgba(0, 0, 0, 0.15);
              cursor: pointer;
            }
          }
        }

        &__content {
          box-sizing: border-box;
          color: $content-color;
          background-color: $content-bgc;
          width: 100%;
          padding: 10px 20px 20px;
          margin-bottom: 20px;

          &__title {
            height: 50px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 5px;

            &__list-name {
              line-height: 50px;
              font-size: 32px;
              font-weight: bold;
              padding-left: 5px;
              position: relative;
              display: flex;

              a {
                text-decoration: none;
                color: #000;
              }

              &__fukidashi {
                opacity: 0;
                width: 390px;
                font-size: 16px;
                line-height: 20px;
                position: absolute;
                top: -55px;
                left: 0;
                padding: 16px;
                border-radius: 5px;
                background: #33cc99;
                color: #fff;
                font-weight: bold;

                &:after {
                  position: absolute;
                  width: 0;
                  height: 0;
                  left: 0;
                  bottom: -19px;
                  margin-left: 15px;
                  border: solid transparent;
                  border-color: rgba(51, 204, 153, 0);
                  border-top-color: #33cc99;
                  border-width: 10px;
                  pointer-events: none;
                  content: " ";
                }
              }

              a:hover + p {
                opacity: 1;
                transition-duration:.3s;
              }

              &__public-private {
                font-size: 20px;
                line-height: 50px;
                padding-left: 10px;
                color: blue;
              }
            }

            &__box {
              padding-top: 3px;
              display: flex;
              justify-content: space-between;
              box-sizing: border-box;

              &__compare {
                @include button(#FFF, #fd9535, #d27d00);
                margin-right: 20px;
              }

              &__edit {
                @include button(#1436f7, #b0cef5, #8ebfff);
                margin-right: 20px;
              }

              &__delete {
                @include button(#ff3a3f, #fbacff, #f9b5ff);
              }
            }

            &__user {
              line-height: 55px;
              font-size: 24px;
              padding-top: 3px;
              width: 400px;
              text-align: right;
            }
          }

          .parts__table {
            font-size: 20px;
            padding: 10px;
            width: 100%;

            a {
              color: #000;
            }

            table,
            tr,
            td,
            th {
              border: 3px #808080 solid;
              vertical-align: middle;
            }

            tr {
              height: 50px;
              line-height: 50px;
              vertical-align: middle;
              text-align: center;

              td {
                background-color: #8ebfff;
                font-weight: bold;
              }
              .td-list {
                position: relative;

                a {
                  display: block;
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                }
              }

              th {
                width: 20%;
                // font-size: 24px;
                // height: 40px;
                // width: 200px;
                overflow-x: auto;
                white-space: nowrap;
                max-width: 0;
              }
            }
          }
        }
      }

      .show-line-up {
        background-color: #eee;
        width: 100%;
        height: 50px;
        padding: 10px 0;
        display: flex;

        &__box {
          display: flex;
          .list-title {
            font-size: 24px;
            font-weight: bold;
            line-height: 45px;
            margin-top: 5px;
            margin-left: 5px;
          }
        }

        &__add-btn {
          @include button(#FFF, #fd9535, #d27d00);
          width: 200px;
        }

        &__btn {
          padding-left: 70px;

          &__name {
            text-align: center;
            margin-bottom: 2px;
          }

          /* === ボタンを表示するエリア ============================== */
          #switchArea {
            line-height: 32px; /* 1行の高さ          */
            letter-spacing: 0; /* 文字間             */
            text-align: center; /* 文字位置は中央     */
            font-size: 13px; /* 文字サイズ         */
            border-radius: 12px;

            position: relative; /* 親要素が基点       */
            margin: auto; /* 中央寄せ           */
            width: 160px; /* ボタンの横幅       */
            background: #fff; /* デフォルト背景色   */

            /* === チェックボックス ==================================== */
            input[type="checkbox"] {
              display: none; /* チェックボックス非表示 */
            }
            /* === チェックボックスのラベル（標準） ==================== */
            label {
              display: block; /* ボックス要素に変更 */
              box-sizing: border-box; /* 枠線を含んだサイズ */
              height: 32px; /* ボタンの高さ       */
              border: 2px solid rgba(142, 191, 255, 1); /* 未選択タブのの枠線 */
              border-radius: 16px; /* 角丸               */
            }
            /* === チェックボックスのラベル（ONのとき） ================ */
            input[type="checkbox"]:checked + label {
              border-color: rgba(58, 255, 58, 1); /* 選択タブの枠線     */
            }
            /* === 表示する文字（標準） ================================ */
            label span:after {
              content: "左のリスト"; /* 表示する文字       */
              padding: 0 0 0 10px; /* 表示する位置       */
              color: rgb(56, 135, 238); /* 文字色             */
            }
            /* === 表示する文字（ONのとき） ============================ */
            input[type="checkbox"]:checked + label span:after {
              content: "右のリスト"; /* 表示する文字       */
              padding: 0 0 0 10px; /* 表示する位置       */
              color: rgb(47, 192, 47); /* 文字色             */
            }
            /* === 丸部分のSTYLE（標準） =============================== */
            #swImg {
              position: absolute; /* 親要素からの相対位置*/
              width: 24px; /* 丸の横幅           */
              height: 24px; /* 丸の高さ           */
              background: rgba(142, 191, 255, 1); /* カーソルタブの背景 */
              top: 4px; /* 親要素からの位置   */
              left: 4px; /* 親要素からの位置   */
              border-radius: 12px; /* 角丸               */
              transition: 0.2s; /* 滑らか変化         */
            }
            /* === 丸部分のSTYLE（ONのとき） =========================== */
            input[type="checkbox"]:checked ~ #swImg {
              transform: translateX(128px); /* 丸も右へ移動       */
              background: rgba(58, 255, 58, 1); /* カーソルタブの背景 */
            }
          }
        }
      }

      .shows {
        width: 100%;
        display: flex;
      }

      .show {
        display: block;
        background-color: #fcfcfc;
        width: 100%;

        .show-space {
          height: 50px;
          width: 100px;
          display: block;
        }

        .show-list {
          background-color: #efe;
          width: calc(100% - 40px);
          margin: 10px 20px;
          border-left: 1px solid #000;
          border-top: 1px solid #000;
          border-right: 1px solid #000;
          box-sizing: border-box;

          &__head {
            // border: 1px solid #000;
            width: 100%;
            font-size: 20px;
            display: flex;
            box-sizing: border-box;

            .show-title {
              width: 100%;
              height: 50px;
              line-height: 50px;
              font-size: 28px;
              font-weight: bold;
              text-align: center;
              border-bottom: 1px solid #000;
            }

            .show-image {
              height: 140px;
              padding: 10px;
              width: 20%;
              min-width: 140px;
              border-right: 1px solid #000;
              border-bottom: 1px solid #000;
              text-align: center;
              box-sizing: border-box;
            }

            .show-image-name-box {
              padding: 10px;
              height: 140px;
              width: 80%;
              max-width: calc(100% - 140px);
              border-bottom: 1px solid #000;
              box-sizing: border-box;
            }

            .show-image-name-content {
              line-height: 120px;
              overflow-x: auto;
              white-space: nowrap;
            }

            .show-key-box {
              width: 20%;
              min-width: 140px;
              border-right: 1px solid #000;
              border-bottom: 1px solid #000;
              text-align: center;
              box-sizing: border-box;
              height: 50px;
              padding: 0 5px;
            }

            .show-key-content {
              line-height: 50px;
              overflow-x: auto;
              white-space: nowrap;
            }

            .show-value-box {
              width: 80%;
              max-width: calc(100% - 140px);
              border-bottom: 1px solid #000;
              padding-left: 10px;
              box-sizing: border-box;
              height: 50px;
            }

            .show-value-content {
              line-height: 50px;
              overflow-x: scroll;
              white-space: nowrap;
            }
          }
        }
      }

      .hidden {
        visibility: hidden;
      }
    }
  }
}
