.wrapper{
  box-sizing: border-box;
  background-color: $wrapper-bgc;
  height: 100vh;
  width: 100vw;
  a{
    text-decoration: none;
  }

  .header{
    color: $header_color;
    background-color: $header-bgc;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__logo{
      color: $header-logo-color;
      // background-color: $header-logo-bgc;
      line-height: 60px;
      font-size: 40px;
      padding: 0 20px;
    }
    &__lists{
      // background-color: $header-logo-bgc;
      display: flex;
      line-height: 60px;
      font-size: 20px;

      &__list{
        color: $header-list-color;
        padding: 0 10px;
        margin: 0 20px;
        width: 100px;
      }
      .user_name{
        width: 160px;
        text-align: center;
      }
    }
  }

  .notifications {
    color: white;
    text-align: center;
    .notice {
      height: 60px;
      line-height: 60px;
      font-size: 36px;
      background-color: #3456f7;
      text-align: center;
    }

    .alert {
      height: 60px;
      line-height: 60px;
      font-size: 36px;
      background-color: #ef1a1f;
    }
  }

  .main{
    color: $main_color;
    background-color: $main-bgc;
    height: calc(100% - 60px);
    display: flex;
    // overflow: scroll;

    .side-bar{
      box-sizing: border-box;
      color: $side-bar_color;
      background-color: $side-bar-bgc;
      height: 100%;
      width: 25%;
      padding: 5px;

      .parts-list{
        color: $parts-list_color;
        background-color: $parts-list-bgc;
        width: 100%;
        height: 100%;

        &__category{
          box-sizing: border-box;
          display: block;
          color: $parts-list__category-color;
          background-color: $parts-list__category-bgc;
          display: block;
          font-size: 30px;
          padding: 1px;
          margin-bottom: 5px;
          text-align: center;
          height: 60px;
          line-height: 60px;

          &:hover{
            border: 3px solid #40b1ff;
            background-color: #0e75ff;
          }
        }
      }
    }

    .contents{
      box-sizing: border-box;
      color: $contents_color;
      background-color: $contents-bgc;
      width: 100%;
      height: 100%;
      padding: 0 20px;
      overflow: scroll;

      .partslists__controller{
        height: 80px;

        &__box{
          display: flex;
          justify-content: space-between;
          &__btn{
            display: block;
            color: #1436f7;
            background: #b0cef5;
            height: 50px;
            line-height: 50px;
            width: 250px;
            text-align: center;
            margin: 10px auto 0;
            font-size: 24px;
            font-weight: bold;
            border-radius: 4px;
            border: solid 2px #8ebfff;
            box-shadow: inset 0 2px 0 rgba(255,255,255,0.4), inset 0 -2px 0 rgba(0, 0, 0, 0.15);
            cursor: pointer;
          }
        }
      }

      .partslists__show{
        height: 80px;
        padding: 20px 20px 0 20px;

        &__box{
          display: flex;
          justify-content: space-between;
          &__btn{
            display: block;
            color: #1436f7;
            background: #b0cef5;
            height: 50px;
            line-height: 50px;
            width: 250px;
            text-align: center;
            margin: 10px auto 0;
            font-size: 24px;
            font-weight: bold;
            border-radius: 4px;
            border: solid 2px #8ebfff;
            box-shadow: inset 0 2px 0 rgba(255,255,255,0.4), inset 0 -2px 0 rgba(0, 0, 0, 0.15);
            cursor: pointer;
          }
        }
      }

      .contents-top{
        display: flex;
        justify-content: space-between;
        height: 60px;
        padding: 10px;
        line-height: 60px;

        &__name{
          font-size: 32px;
        }

        &__list{
          font-size: 24px;
          display: flex;
          .list-title{
            margin-top: 5px;
          }
        }
      }
      select{
        font-size: 24px;
        width: 300px;
        height: 50px;
        margin-left: 10px;
        border-radius: 0;
        background-color: #dafafa;
        cursor: pointer;
        text-indent: 5px;
      }

      .contents-main{
        height: calc(100vh - 140px);
        overflow: scroll;
      }

      .partslists__content{
        box-sizing: border-box;
        color: $content-color;
        background-color: $content-bgc;
        width: 100%;
        height: 640px;
        padding: 10px 20px 20px;
        margin-bottom: 20px;

        &__title{
          height: 60px;
          display: flex;
          justify-content: space-between;
          padding-bottom: 5px;

          &__list-name{
            line-height: 60px;
            font-size: 40px;
            font-weight: bold;
            padding-left: 5px;
            a{
              text-decoration: none;
              color: #000;
            }
          }

          &__box{
            line-height: 55px;
            font-size: 24px;
            padding-top: 3px;
            width: 400px;
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            text-align: center;
            &__edit{
              color: #1436f7;
              background: #b0cef5;
              height: 50px;
              width: 200px;
              margin-bottom: 5px;
              font-size: 24px;
              font-weight: bold;
              border-radius: 4px;
              border: solid 2px #8ebfff;
              box-shadow: inset 0 2px 0 rgba(255,255,255,0.4), inset 0 -2px 0 rgba(0, 0, 0, 0.15);
              cursor: pointer;
              margin-right: 20px;
            }
            &__delete{
              color: #ff3a3f;
              background: #fbacff;
              height: 50px;
              width: 200px;
              margin-bottom: 5px;
              font-size: 24px;
              font-weight: bold;
              border-radius: 4px;
              border: solid 2px #f9b5ff;
              box-shadow: inset 0 2px 0 rgba(255,255,255,0.4), inset 0 -2px 0 rgba(0, 0, 0, 0.15);
              cursor: pointer;
            }
          }
        }
        .parts__table{
          font-size: 20px;
          padding: 10px;
          width: 100%;

          a{
            color: #000;
          }
          table, tr, td, th { border: 3px #808080 solid; vertical-align: middle;}
          tr{
            height: 50px;
            line-height: 50px;
            vertical-align: middle;
            text-align: center;

            td{
              background-color: #8ebfff;
              font-weight: bold;
            }
            .td-list{
              position:relative;
              a{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            }

            th{
              width: 20%;
              // font-size: 24px;
              // height: 40px;
              // width: 200px;
              overflow-x: auto;
              white-space: nowrap;
              max-width: 0;
            }
          }
        }
      }

      .show-line-up{
        background-color: #eee;
        width: 100%;
        height: 50px;
        padding: 10px 0;
        &__box{
          display: flex;
          .list-title{
            font-size: 24px;
            font-weight: bold;
            line-height: 45px;
            margin-top: 5px;
            margin-left: 5px;
          }
        }
        &__add-btn{
          box-sizing: border-box;
          color: #FFF;
          background: #fd9535;
          height: 50px;
          width: 300px;
          font-size: 24px;
          font-weight: bold;
          border-radius: 4px;
          border: solid 2px #d27d00;
          box-shadow: inset 0 2px 0 rgba(255,255,255,0.4), inset 0 -2px 0 rgba(0, 0, 0, 0.15);
          cursor: pointer;
        }
      }
      .show{
        background-color: #fcfcfc;
        .show-space{
          height: 50px;
          width: 100px;
          display: block;
        }
        .show-list{
          background-color: #efe;
          width: calc(100% - 40px);
          margin: 10px 20px;
          border-left: 1px solid #000;
          border-top: 1px solid #000;
          border-right: 1px solid #000;
          box-sizing: border-box;
          &__head{
            // border: 1px solid #000;
            width: 100%;
            font-size: 24px;
            display: flex;
            box-sizing: border-box;
            .show-title{
              width: 100%;
              height: 50px;
              line-height: 50px;
              font-size: 28px;
              font-weight: bold;
              text-align: center;
              border-bottom: 1px solid #000;
            }
            .show-image{
              height: 140px;
              padding: 10px;
              width: 20%;
              border-right: 1px solid #000;
              border-bottom: 1px solid #000;
              text-align: center;
              box-sizing: border-box;
            }
            .show-image-name{
              padding: 10px;
              height: 140px;
              line-height: 120px;
              width: 80%;
              border-bottom: 1px solid #000;
              box-sizing: border-box;
              overflow-x: auto;
              white-space: nowrap;
            }
            .show-key{
              width: 20%;
              border-right: 1px solid #000;
              border-bottom: 1px solid #000;
              text-align: center;
              box-sizing: border-box;
              height: 60px;
              line-height: 60px;
            }
            .show-value{
              width: 80%;
              border-bottom: 1px solid #000;
              padding-left: 10px;
              box-sizing: border-box;
              height: 60px;
              line-height: 60px;
            }
          }
        }
      }
    }
  }
}