.wrapper
  .header
    = render "parts_lists/header"
  .main
    .side-bar
      .parts-list
        = link_to pcpart_path(1), class: "parts-list__category" do
          CPU
        = link_to pcpart_path(2), class: "parts-list__category" do
          マザーボード
        = link_to pcpart_path(3), class: "parts-list__category" do
          メモリー
    .contents